<!-- Main page. -->
<section class="index__gameList">

  <div class="index__ranking">
    <h2>Ranking</h2>
    <div class="ui very relaxed list">
      {{#each gamesList}}
      <div class="item">
        <img class="ui avatar image index__rankingImage" src="{{this.image}}">
        <div class="content">
          <a class="header" href="/games/{{this._id}}">{{this.title}}</a>
          <div class="description">{{this.about}}</div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="index__weekOfGames">
    <h2 >Week of Games</h2>
    <div class="ui link cards index__weekOfGamesList">

      {{#each gamesList}}
      <!-- Game card container. -->
      <div class="card">

        <!-- Thumbnail. -->

        <a class="image" href="/games/{{this._id}}">
          <img src="{{this.image}}" id="thumbnail">
        </a>

        <!-- Main content. -->
        <div class="content">
          <div class="header">
            <h3>{{this.title}}</h3>
          </div>
          <div class="meta">
            <a href="/profile/public/{{this.authorId}}">{{this.author}}</a>
          </div>

          <div class="description">
            {{this.about}}
          </div>
          <div class="ui center aligned">
            <a href="/games/{{this._id}}" class="ui button orange">Play</a>
          </div>
        </div>

        <!-- Extras. -->
        <div class="extra content">
          <span class="right floated">
            Created in Oct 14th 2020
          </span>
          <span>
            <i class="comment icon"></i>
            75 Reviews
          </span>
        </div>

      </div>

      {{/each}}
    </div>
  </div>

</section>

<section class="index__gameList">
  <div class="index__featuredGames">
    <h2>Featured Games</h2>

    <!-- Featured games list. -->
    <div class="ui link cards index__featuredGamesList">
      {{#each gamesList}}
      <div class="card">
        <a class="image" href="/games/{{this._id}}">
          <img src="{{this.image}}" id="thumbnail">
        </a>


        <!-- Game content. -->
        <a href="/games/{{this_id}}">

          <div href="/games/{{this_id}}" class="content">
            <div class="header">
              <h3>
                {{this.title}}
              </h3>
            </div>
            <div class="meta">
              <a href="/profile/public/{{this.authorId}}">{{this.author}}</a>
            </div>
            <div class="description">{{this.description}}</div>
            <div class="ui center aligned">
              <a href="/games/{{this_id}}" class="ui button orange">Play</a>
            </div>
          </div>
        </a>
        <!-- Extra content. -->
        <div class="extra content">
          <span class="right floated">
            Created in Oct 14th 2020
          </span>
          <span>
            <i class="comment icon"></i>
            75 Reviews
          </span>
        </div>

      </div>

      {{/each}}
    </div>

  </div>
</section>

{{!-- <section class="index__gameList">

  <div class="index__ranking">
    <h2>Ranking</h2>
    <div class="ui very relaxed list">
      <div class="item">
        <img class="ui avatar image index__rankingImage"
          src="https://www.nintendo.com/content/dam/noa/en_US/games/switch/t/the-legend-of-zelda-breath-of-the-wild-switch/the-legend-of-zelda-breath-of-the-wild-switch-hero.jpg">
        <div class="content">
          <a class="header" href="/games/:gameid">The Legend of Zelda</a>
          <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. </div>
        </div>
      </div>
      <div class="item">
        <img class="ui avatar image"
          src="https://www.nintendo.com/content/dam/noa/en_US/games/switch/t/the-legend-of-zelda-breath-of-the-wild-switch/the-legend-of-zelda-breath-of-the-wild-switch-hero.jpg">
        <div class="content">
          <a class="header" href="/games/:gameid">The Legend of Zelda</a>
          <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. </div>
        </div>
      </div>
      <div class="item">
        <img class="ui avatar image"
          src="https://www.nintendo.com/content/dam/noa/en_US/games/switch/t/the-legend-of-zelda-breath-of-the-wild-switch/the-legend-of-zelda-breath-of-the-wild-switch-hero.jpg">
        <div class="content">
          <a class="header" href="/games/:gameid">The Legend of Zelda</a>
          <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. </div>
        </div>
      </div>
      <div class="item">
        <img class="ui avatar image"
          src="https://www.nintendo.com/content/dam/noa/en_US/games/switch/t/the-legend-of-zelda-breath-of-the-wild-switch/the-legend-of-zelda-breath-of-the-wild-switch-hero.jpg">
        <div class="content">
          <a class="header" href="/games/:gameid">The Legend of Zelda</a>
          <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. </div>
        </div>
      </div>
    </div>
  </div>

  <div class="index__weekOfGames">
    <h2>Week of Games</h2>
    <div class="ui link cards index__weekOfGamesList">
      <div class="card">
        <div class="image">
          <img
            src="https://www.nintendo.com/content/dam/noa/en_US/games/switch/t/the-legend-of-zelda-breath-of-the-wild-switch/the-legend-of-zelda-breath-of-the-wild-switch-hero.jpg">
        </div>
        <div class="content">
          <div class="header">The Legend of Zelda</div>
          <div class="meta">
            <a href="/user/:userId">Manish</a>
          </div>
          <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum fugit assumenda in? Lorem ipsum dolor sit
            amet
            consectetur adipisicing elit.
          </div>
          <div class="ui center aligned">
            <a href="/games/:gameid" class="ui button orange">Play</a>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Created in Oct 14th 2020
          </span>
          <span>
            <i class="comment icon"></i>
            75 Reviews
          </span>
        </div>
      </div>

      <div class="card">
        <div class="image">
          <img
            src="https://www.nintendo.com/content/dam/noa/en_US/games/switch/t/the-legend-of-zelda-breath-of-the-wild-switch/the-legend-of-zelda-breath-of-the-wild-switch-hero.jpg">
        </div>
        <div class="content">
          <div class="header">The Legend of Zelda</div>
          <div class="meta">
            <a href="/user/:userId">Manish</a>
          </div>
          <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum fugit assumenda in? Lorem ipsum dolor sit
            amet
            consectetur adipisicing elit.
          </div>
          <div class="ui center aligned">
            <a href="/games/:gameid" class="ui button orange">Play</a>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Created in Oct 14th 2020
          </span>
          <span>
            <i class="comment icon"></i>
            75 Reviews
          </span>
        </div>
      </div>

      <div class="card">
        <div class="image">
          <img
            src="https://www.nintendo.com/content/dam/noa/en_US/games/switch/t/the-legend-of-zelda-breath-of-the-wild-switch/the-legend-of-zelda-breath-of-the-wild-switch-hero.jpg">
        </div>
        <div class="content">
          <div class="header">The Legend of Zelda</div>
          <div class="meta">
            <a href="/user/:userId">Manish</a>
          </div>
          <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum fugit assumenda in? Lorem ipsum dolor sit
            amet
            consectetur adipisicing elit.
          </div>
          <div class="ui center aligned">
            <a href="/games/:gameid" class="ui button orange">Play</a>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Created in Oct 14th 2020
          </span>
          <span>
            <i class="comment icon"></i>
            75 Reviews
          </span>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="index__gameList">
  <div class="index__featuredGames">
    <h2>Featured Games</h2>

    <div class="ui link cards index__featuredGamesList">
      <div class="card">
        <div class="image">
          <img
            src="https://www.nintendo.com/content/dam/noa/en_US/games/switch/t/the-legend-of-zelda-breath-of-the-wild-switch/the-legend-of-zelda-breath-of-the-wild-switch-hero.jpg">
        </div>
        <div class="content">
          <div class="header">The Legend of Zelda</div>
          <div class="meta">
            <a href="/user/:userId">Manish</a>
          </div>
          <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum fugit assumenda in? Lorem ipsum dolor sit
            amet
            consectetur adipisicing elit.
          </div>
          <div class="ui center aligned">
            <a href="/games/:gameid" class="ui button orange">Play</a>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Created in Oct 14th 2020
          </span>
          <span>
            <i class="comment icon"></i>
            75 Reviews
          </span>
        </div>
      </div>

      <div class="card">
        <div class="image">
          <img
            src="https://www.nintendo.com/content/dam/noa/en_US/games/switch/t/the-legend-of-zelda-breath-of-the-wild-switch/the-legend-of-zelda-breath-of-the-wild-switch-hero.jpg">
        </div>
        <div class="content">
          <div class="header">The Legend of Zelda</div>
          <div class="meta">
            <a href="/user/:userId">Manish</a>
          </div>
          <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum fugit assumenda in? Lorem ipsum dolor sit
            amet
            consectetur adipisicing elit.
          </div>
          <div class="ui center aligned">
            <a href="/games/:gameid" class="ui button orange">Play</a>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Created in Oct 14th 2020
          </span>
          <span>
            <i class="comment icon"></i>
            75 Reviews
          </span>
        </div>
      </div>

      <div class="card">
        <div class="image">
          <img
            src="https://www.nintendo.com/content/dam/noa/en_US/games/switch/t/the-legend-of-zelda-breath-of-the-wild-switch/the-legend-of-zelda-breath-of-the-wild-switch-hero.jpg">
        </div>
        <div class="content">
          <div class="header">The Legend of Zelda</div>
          <div class="meta">
            <a href="/user/:userId">Manish</a>
          </div>
          <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum fugit assumenda in? Lorem ipsum dolor sit
            amet
            consectetur adipisicing elit.
          </div>
          <div class="ui center aligned">
            <a href="/games/:gameid" class="ui button orange">Play</a>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Created in Oct 14th 2020
          </span>
          <span>
            <i class="comment icon"></i>
            75 Reviews
          </span>
        </div>
      </div>
    </div>

  </div>
</section> --}}