<!-- Custom styles for `profile.hbs`. -->
<link href="/stylesheets/profile.css" rel="stylesheet">

<main>

  <!-- User information. -->
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">{{info.user.username}}</h1>
      <p class="lead text-muted">{{info.user.about}}</p>
      <p>
        <a href="/profile/edit" class="btn btn-primary my-2">Edit profile</a>
        <a href="/profile/upload" class="btn btn-info my-2">Upload game</a>
      </p>
    </div>
  </section>

  <!-- Games by the user. -->
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">

        {{#each info.game}}
        <a href="/games/{{this._id}}" id="game-catalog-link">

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">
                  <b>{{this.title}}</b>
                  <br>{{this.about}}
                </p>

                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">{{this.likes.length}} likes</small>

                  <div class="btn-game-card">
                    <a href="/games/{{this._id}}" class="btn btn-sm btn-outline-danger">Play</a>
                    <a href="/games/{{this._id}}/edit" class="btn btn-sm btn-outline-warning">Edit</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </a>
        {{/each}}


      </div>
    </div>
  </div>

</main>






























{{!-- <section id="profile-body">
  <!-- User profile. -->
  <div id="user-profile">
    <p>This is your profile page!</p>
    <div class="profile__info">
      <img class="ui medium rounded image" src="{{info.user.image}}" class="profile__image">
      <div class="profile__text">
        <h2>{{info.user.username}}</h2>
        <p>{{info.user.ranking}}</p>
        <p>{{info.user.about}}</p>
      </div>
      <div class="profile__buttons">
        <a href="/profile/edit" class="profile__button">
          <button class="ui fluid large orange submit button" type="submit">Edit Profile</button>
        </a>
        <a href="/profile/upload" class="profile__button">
          <button class="ui fluid large orange submit button" type="submit">Upload Game</button>
        </a>
      </div>
    </div>
  </div>

</section>

<!-- List of games by the user. -->

<section>
  {{#if info.game}}
  <h2>Your Games</h2>
  <div class="ui link cards profile__games">
    {{#each info.game}}
    <div class="card">
      <a class="image" href="/games/{{this._id}}">
        <img src="{{this.image}}" id="thumbnail">
      </a>
      <div class="content">
        <a class="header" href="/games/{{this._id}}">
          <h3 class="profile__gameTitle">{{this.title}}</h3>
        </a>
        <div class="profile__button__game">
          <a href="/games/{{this._id}}/edit">
            <button class="ui fluid large orange submit button" type="submit">Edit Game</button>
          </a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{else}}
  <div class="profile__info profile__games">
    <h2>Please upload your game!</h2>
  </div>
  {{/if}}
</section> --}}