<!-- Individual game page. -->
<div class="ui container">

    <div class="game-container">
        <!-- Game title. -->
        <div class="game-title">
            <h2>{{data.title}}</h2>
        </div>

        <!-- Game iframe. -->
        <div class="game__screen">
            <iframe width="{{data.width}}" height="{{data.height}}" style="border:none;" src="{{data.link}}"></iframe>
        </div>
        <div class="game__button">
            <button class="ui orange right floated button game__fullscreen">Play Full Screen</button>
        </div>
    </div>


    <!-- Info body. -->
    <div class="game__main">
        <div class="game__left">
            <div class="ui card">

                <!-- User picture. -->
                <div class="image">
                    <img
                        src="https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/HB4AT3D3IMI6TMPTWIZ74WAR54.jpg&w=1440">
                </div>

                <!-- About user. -->
                <div class="content">
                    <a class="header" href="/user/:userid">Manish</a>
                    <div class="meta">
                        <span class="date">Created on Oct 14th 2020</span>
                    </div>

                    <div class="description">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, eum dolorum. Id, vel
                        recusandae laborum mollitia quam beatae neque sed eius dolore a modi quaerat voluptate iste
                        assumenda! Esse, culpa.
                    </div>
                </div>
            </div>
        </div>

        <!-- Game information. -->
        <div class="game__right">
            <!-- Game description. -->
            <div class="game__description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ad laudantium molestiae, non
                    quidem
                    minus
                    quisquam beatae cupiditate fugit nostrum temporibus corrupti voluptatum fuga nemo ducimus,
                    tempore
                    dolore
                    laboriosam provident.</p>
            </div>
        </div>
    </div>


    <!-- Comments. -->
    <div class="game__play">
        <div class="ui center aligned grid">
            <p>Comments go here.</p>
        </div>
    </div>

    <!-- Delete button. -->
    <form method="POST" action="/games/{{data._id}}/like">
        <button type="submit">Like</button>
    </form>
    <p>{{data.likes.length}}</p>


    <!-- Comments Section | Comments Section | Comments Section -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="page-header">Comments</h2>


                <section class="comment-list">
                    {{#each opinions.comments}}
                    <article class="row">
                        <div class="col-md-2 col-sm-2 hidden-xs">
                            <figure class="thumbnail">
                                <img class="img-responsive" src="{{this.image}}" />
                                <figcaption class="text-center">{{this.author}}</figcaption>
                            </figure>
                        </div>
                        <div class="col-md-10 col-sm-10">
                            <div class="panel panel-default arrow left">
                                <div class="panel-body">
                                    <header class="text-left">
                                        <time class="comment-date" datetime="16-12-2014 01:05"><i
                                                class="fa fa-clock-o"></i> Dec 16,
                                            2014</time>
                                    </header>
                                    <div class="comment-post">
                                        <p>
                                            {{this.comment}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </article>
                    {{/each}}
                </section>

                <!-- Post button. -->
                <div class="form__button">
                    <form method="POST" action="/games/{{data._id}}/comments"
                        onsubmit="return confirm('Please, confirm to add comment.');" id="game-comment">
                        <textarea rows="4" cols="50" name="comment" form="game-comment"></textarea>
                        <button type="submit" class="ui fluid large red submit button">Post</button>
                </div>
            </div>
        </div>
    </div>
</div>