<!-- Custom CSS for `game.hbs`. -->
<link href="/stylesheets/public-game.css" rel="stylesheet">

<main>
    <div class="jumbotron text-white rounded bg-dark">
        <div>
            <h1 class="display-4 font-italic">{{data.title}}</h1>

            <!-- iFrame Container. -->
            <div>
                <iframe width="{{data.width}}" height="{{data.height}}" style="border: solid;"
                    src="{{data.link}}"></iframe>
            </div>

            <!-- Buttons container. -->
            <div class="btn-game-container">
                <strong class="text-muted">{{data.likes.length}} LIKES</strong>
                <div class="btn-game-card">
                    <button class="btn btn-lg btn-outline-danger game__fullscreen">Full Screen</button>
                    {{#if isLikedByUser}}
                        <form method="POST" action="/games/{{data._id}}/like">
                            <button class="btn btn-lg btn-primary" type="submit">Liked</button>
                        </form>
                    {{else}}
                        <form method="POST" action="/games/{{data._id}}/like">
                            <button class="btn btn-lg btn-outline-primary" type="submit">Like</button>
                        </form>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    <!-- User information. -->
    <div class="card mb-3 myUserInformation" style="width: 70%">
        <div class="card-body">
            <a href="/profile/public/{{data.authorId}}">
                <h5 class="card-title">{{data.author}}</h5>
            </a>
            <p class="card-text">{{data.about}}</p>
            <p class="card-text"><small class="text-muted">Uploaded on
                    {{dateFormat data.createdAt "MMMM Do, YYYY."}}
                </small></p>
        </div>
    </div>

    <!-- Post comment form. -->
    <div class="myCommentInput">
        <form method="POST" action="/games/{{data._id}}/comments"
            onsubmit="return confirm('Please, confirm to add comment.');" id="game-comment">
            <textarea rows="4" cols="50" name="comment" form="game-comment"></textarea>
            <button type="submit" class="btn btn-sm btn-success">Post comment</button>
    </div>

    <!-- Comments Section. -->
    <div class="row d-flex justify-content-center mt-100 mb-100">
        <div class="col-lg-6">
            <div class="card">

                <div class="card-body text-center">
                    <h4 class="card-title">Comments</h4>
                </div>

                <!-- Comments list. -->
                <div class="comment-widgets">

                    {{#each opinions.comments}}
                    <div class="d-flex flex-row comment-row m-t-0">

                        <div class="p-2">
                            <img src="{{this.image}}" alt="user" width="50" class="rounded-circle">
                        </div>

                        <div class="comment-text w-100">
                            <h6 class="font-medium">{{this.author}}</h6> <span class="m-b-15 d-block">{{this.comment}}
                            </span>
                            <span class="text-muted float-right">{{dateFormat this.createdAt "MMMM Do, YYYY"}}
                            </span>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</main>